POSTGRES_USER="admin"
POSTGRES_PASSWORD="admin"
JWT_SECRET=04cba5bb3413bb66636121ef54cade35
JWT_ALGORITHM=HS256
ALLOWED_ORIGINS='["http://localhost:5173", "http://127.0.0.1:5173"]'
ENVIRONMENT="production"
VITE_API_URL=http://localhost:8000
POSTGRES_DB="tasks-proj"